<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="aaAge"> Age </label>
    <input id="aaAge" type="text" formControlName="aaAge" />
  </div>

  <div>
    <label for="abSugar"> Sugar </label>
    <input id="abSugar" type="text" formControlName="abSugar" />
  </div>

  <div>
    <label for="acMaxHR"> MaxHR </label>
    <input id="acMaxHR" type="text" formControlName="acMaxHR" />
  </div>

  <div>
    <input
      id="adHeartDisease"
      type="radio"
      formControlName="adHeartDisease"
      value="{{ 1 }}"
    />
    <label for="adHeartDisease"> Heart Disease </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="gender"
      formControlName="aeSex_F"
      id="aeSex_F"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="aeSex_F"> S_Female </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="gender"
      formControlName="afSex_M"
      id="afSex_M"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="afSex_M"> S_Male </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="agBPrange_eighty"
      id="agBPrange_eighty"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="agBPrange"> 85-90 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="ahBPrange"
      id="ahBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="ahBPrange"> 91-95 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="agBPrange_nintysix"
      id="aiBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="aiBPrange"> 96-100 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="ajBPrange"
      id="ajBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="ajBPrange"> 101-105 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="akBPrange"
      id="akBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="akBPrange"> 106-110 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="alBPrange"
      id="alBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="alBPrange"> 111-105 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="amBPrange"
      id="amBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="amBPrange"> 106-110 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="anBPrange"
      id="anBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="anBPrange"> 111-115 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="aoBPrange"
      id="aoBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="aoBPrange"> 116-120 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="apBPrange"
      id="apBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="apBPrange"> 121-125 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="aqBPrange"
      id="aqBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="aqBPrange"> 126-130 </label>
  </div>


  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="arBPrange"
      id="arBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="arBPrange"> 131-135 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="asBPrange"
      id="asBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="asBPrange"> 136-140 </label>
  </div>


  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="atBPrange"
      id="atBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="atBPrange"> 141-145 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="auBPrange"
      id="auBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="auBPrange"> 146-150 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="avBPrange"
      id="avBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="avBPrange"> 151-155 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="awBPrange"
      id="awBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="awBPrange"> 156-160 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="axBPrange"
      id="axBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="axBPrange"> 165-170 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="ayBPrange"
      id="ayBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="ayBPrange"> 171-175 </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="azBPrange"
      id="azBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="azBPrange"> 176-180 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="baBPrange"
      id="baBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="baBPrange"> 181-185 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="bbBPrange"
      id="bbBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="bbBPrange"> 186-190 </label>
  </div>

  <!-- <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="bcBPrange"
      id="bcBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="bcBPrange"> 191-195 </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="selection"
      formControlName="bdBPrange"
      id="bdBPrange"
      value="{{ 1 }}"
    />
    <label class="form-check-label" for="bdBPrange"> 195-200 </label>
  </div> -->


















  <button class="button" type="submit">Submit</button>
</form>