<div class="outer-container">
    <div *ngFor="let social of listOfHealths|keyvalue; let i = index" class="heart-container">
        <div *ngIf="i==0" class="heart-wrapper">
            <p class="wrapper-content">{{social.key}}</p>
            <div class="heart-icon">
                <i class="fa-brands fa-gratipay icon-content"></i>
            </div>
            
        </div>
        <div *ngIf="i==1" class="heart-wrapper">
            <p class="wrapper-content">{{social.key}}</p>
            <div class="heart-icon">
                <i class="fa-solid fa-mask-ventilator"></i>
            </div>
        </div>
    <span class="text-capitalize" *ngIf="i==0">{{social.key}} : <span>{{social.value}}</span> <span class="text-lowercase"> bpm</span></span>
    <span class="text-capitalize" *ngIf="i==1">{{social.key}} : <span>{{social.value}}</span> <span> %</span></span>
    
    </div>
    
    
</div>