.outer-container{
    display:flex;
    flex-direction:row;
    justify-content:center;

}
.heart-container{
    height:100px;
    width:300px;
    background: #70D3FF;
    border:2px solid black;
    border-radius:15px;
    margin:60px auto;
    display:flex;
    justify-content: center;
    align-items: center;

}
.heart-wrapper{
    position:absolute;
    height:30px;
    width:160px;
    background-color:rgba(0,0,0,0.6);
    border-radius:15px;
    color:white;
    top:-15px;
    left:10px;
   
}
.heart-icon{
    position:absolute;
    height: 30px;
    width:30px;
    border-radius:50%;
    background-color:blueviolet;
    display:flex;
    justify-content: center;
    align-items: center;
}
.wrapper-content{
    position:absolute;
    left:35px;
    top:50%;
    transform:translateY(-50%);
    font-size:small;

}


@media  only screen and (max-width:600px) {
    
    .outer-container{
        flex-direction:column;
    }
}